annotated-types
anyio
asgiref
attrs
# black
certifi
chardet
charset-normalizer
click
dataclasses
deprecation
dj-database-url
Django
djangorestframework
drf-spectacular
exceptiongroup
gotrue
gunicorn
h11
httpcore
httpx
idna
inflection
iniconfig
joblib
jsonschema
jsonschema-specifications
# mypy-extensions
numpy
packaging
pathspec
Pillow
platformdirs
pluggy
postgrest
postgrest-py
psycopg2
py
pydantic==1.10.9
pydantic_core
# pytest
python-dateutil
# python-dotenv
pytz
PyYAML
realtime
realtime-py
referencing
requests
rfc3986
# rpds-py
scikit-learn
scipy
six
sniffio
sqlparse
storage3
StrEnum
supabase==1.2.0
supabase-py
supafunc
threadpoolctl
toml
tomli
typing_extensions
uritemplate
urllib3
websockets